@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* Main Body */
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  background-color: antiquewhite;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

* {
    box-sizing: border-box;
  }

/* NavBars & Footers */
.savers-bar {
    background-color: #0D4A83;
    color: white;
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 8px;
}

.rm-navbar {
    background-color: #454647;
}

.bg-footer {
    background-color: #0D4A83;
    padding: 2rem;
    color: white;
  }

/* Login Page */
.header {
    padding-top: 10px;
    padding-left: 35px;
    font-style: italic;
}

.loginPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* Signup Page */
.signupPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* RM Pages */
.rmPages {
    height: 100vh;
    padding: 10px 35px 0px 35px;
}

/* Client Pages */
.clientPages {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 10px 35px 0px 35px; */
}

/* Client Main Page */

.clientMain {
  height: 100vh;
  padding: 10px 35px 0px 35px;
}

.piechart {
  width: 10%;
  padding: 20px 300px 50px 350px;
}

.pieAndsummary {
  display: flex;
  align-items: center;
}